<!-- Footer Section -->
	<footer class="footer">
		<div class="contact">
			<h3>Contact Us </h3>
			<p><a href="tel: +919820434055"> ☎ Phone: +919820434055</a></p>
			<p><a href="mailto: ronkeldhi@gmail.com">📧 Email: ronkeldhi@gmail.com</a></p>
		</div>
		<div>Copyright <span>©</span> DHI 2021. All Rights Reserved </div>
		<div><a href="/privacypolicy">Privacy Policy</a> | <a href="/disclaimer">Disclaimer</a></div>
	</footer>


<!-- JavaScript Scripts Section -->
	<script src="javascriptFolder/benefit.js" type="text/javascript"></script>
	<script src='javascriptFolder/dynamicnavclass.js' type="text/javascript"></script>
	<script src="javascriptFolder/top.js" type="text/javascript"></script>

</body>

</html>