<!DOCTYPE html>
<html lang="en">

<head>
	<meta charSet="utf-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- Favicons and Apple touch icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png" />
	<link rel="manifest" href="images/site.webmanifest" />

    <!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com" />
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
	<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&amp;display=swap" rel="stylesheet" />
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
<!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap" rel="stylesheet">
<!-- css stylesheets -->
	<link rel='stylesheet' type='text/css' href='./css/globals.css' />
	<link rel='stylesheet' type='text/css' href='css/NavBar.css' />
    <link rel='stylesheet' href='./css/Header.css' type='text/css'/>
    <link rel='stylesheet' href='./css/Notebook.css' type='text/css'/>