<!-- Scroll To Top Button -->
		<button id="myBtn" title="Back to top">&#8679;</button>

<div class="menucontainer">
			<h2>INDEX</h2>
			<div class="navbrand">
				<a href='./index.php'>
             <p class='dhi'>धी</p> 
             <p> Ronkel School of DHI Approach <span>A School For Every School Going</span></p></a>
			</div>

			<div class="navcontainer">

				<nav class="bookshelf">

					<a  class="book" href="./index.php" >
						<p>Home</p>
					</a>
					<a class="book" href="./index.php#coursesOffered">
						<p>Courses Offered</p>
					</a>
					<a class="book" href="./training.php">
						<p>Training For Students</p>
					</a>
					<a class="book" href="./parents.php">
						<p>Training For Parents</p>
					</a>
					<a class="book" href="./academic-director.php">
						<p>About the Academic Director</p>
					</a>
					<a class="book" href="./approach.php">
						<p>Our Approach</p>
					</a>
					<a class="book" href="./philosophy.php">
						<p>Our Philosophy</p>
					</a>
					<a class="book" href="./objective-methodology.php">
						<p>Our Objective &amp; Methodlogy</p>
					</a>
					
					<a class="book" href="./importance.php">
						<p>Importance of DHI Approach in Life</p>
					</a>
					<a class="book" href="./aim.php">
						<p>Our Aim</p>
					</a>
					<a class="book" href="./team.php">
						<p>Our Team</p>
					</a>
					<a class="book" href="./about.php">
						<p>Achievements Of Ronkel</p>
					</a>
					
					<a class="book" href="./enroll.php">
						<p>Enroll Now</p>
					</a>

				</nav>
			</div>
		</div>

		</header>